



section {
  border: 2px solid #f7fe2e;

}

#post {
  float: left;
  width:68%;
  /* border-radius: 15%; */
}

.maintext {
  padding-left: 60px;
  padding-right: 60px;
}

#blogs {
  float: right;
  width: 23%;
  padding-right: 30px;
}

#archive {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;

}

.bigpic {
  max-width: 600px;
  max-height: 1400px;
}